@import "mocha.css";

* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  background-color: #011423;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: #fff;
  color: #0a0a0f;
}

#custom-appmenu {
  padding-left: 10px;
}

#workspaces {
  padding: 8px 0 8px 8px;
}

#workspaces button {
  padding: 0 0.5px;
  border-radius: 6px;
}

#workspaces button.active {
  background-color: #fff;
  color: #0a0a0f;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  color: @maroon;
}

#clock.date {
  color: @mauve;
}

#custom-pipewire {
  color: @blue;
}

#network {
  color: @yellow;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  color: @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-vpn {
  color: @lavender;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
}
